<template>
<div>
  <h1>Login</h1>

  <div>
    <span v-show="this.email.length > 1 && !isValidEmail">
      Digite um email válido!!
    </span><br><br>
    <label>Email: </label>
    <input v-model="email" class="login_input_email" type="email" name="loginEmail">
  </div><br>

  <div>
    <label>Password: </label>
    <input v-model="password" class="login_input_password" type="password" name="loginPassword">
    <br><br>
    <span v-show="this.password.length > 1 && !isValidPassword">
      Digite pelo menos 6 caracteres!!
    </span><br><br>
  </div><br>

  <button @click="goToUseForm()"
  class="login_button_goTo">Login</button>

  <br><br><br>

  <span v-show="!isOk" class="form__span_error_message_login">
      Login incorreto!!
  </span><br>

</div>
</template>

<script>

import { mapActions } from 'vuex';

export default {
  data: () => ({
    email: '',
    password: '',
    cEmail: '',
    cPassword: '',
    isOk: true,
  }),

  computed: {

    isCorrectLogin() {
      const {
        validateEmail, formateEmail, validatePassword, correctLogin, email, password,
      } = this;

      return validateEmail(email)
      && formateEmail(email)
      && validatePassword(password)
      && correctLogin(email, password);
    },

    isValidEmail() {
      const {
        formateEmail, validateEmail, email,
      } = this;

      return formateEmail(email)
      && validateEmail(email);
    },

    isValidPassword() {
      const {
        validatePassword, password,
      } = this;

      return validatePassword(password);
    },

  },

  methods: {
    ...mapActions('login', ['doLogin']),

    formateEmail(string) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      return re.test(String(string).toLowerCase());
    },

    validateEmail(string) {
      if (string != null && string !== '') {
        return true;
      }
      return false;
    },

    validatePassword(string) {
      return string.length >= 6;
    },

    correctLogin(email, password) {
      const numbersRegex = /^[0-9]+$/;

      for (let i = 0; i < email.length; i++) {
        if (email.charAt(i) === '_') {
          if ((!email.charAt(i + 1).match(numbersRegex) || email.charAt(i + 1) === '0')) {
            return false;
          }
          this.cEmail += email.charAt(i + 1) !== '@'
      && email.charAt(i + 1).match(numbersRegex)
            ? email.charAt(i + 1)
            : '';

          this.cEmail += email.charAt(i + 2) !== '@'
      && email.charAt(i + 2).match(numbersRegex)
            ? email.charAt(i + 2) : '';

          this.cEmail += email.charAt(i + 3) !== '@'
      && email.charAt(i + 3).match(numbersRegex)
            ? email.charAt(i + 3) : '';
        }
      }

      this.cPassword = password
        .substring(password.length - this.cEmail.length, password.length);

      if (this.cEmail === this.cPassword
      && this.cEmail <= 100
      && email === `email_${this.cEmail}@gmail.com`
      && password === `passord${this.cEmail}`) {
        return true;
      }
      this.cEmail = '';
      return false;
    },

    goToUseForm() {
      const { isCorrectLogin, doLogin, email } = this;

      if (isCorrectLogin) {
        doLogin(email);
        this.isOk = true;
        this.$router.push({ name: 'UseForm' });
      } else {
        this.isOk = false;
      }
    },
  },
};
</script>

<style>

</style>
